body{
  background-color: #000;
}
#game{
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.levelSelect{
  margin: 100px;
  width: 50px;
  height: 30px;
  background-color: #375869;
  border: black 10px;
}

.levelSelect#row1{
  position: absolute;
  top: 100px;
  left: 20%;
}
