body{
  background-color: #FAF2B3;
}
#loadingTitle{
  position: absolute;
  left: 600px;
  top: 10px;
  font-size: 100pt;
  font-style: oblique;
}
#loadingAuthor{
  position: absolute;
  left: 600px;
  top: 200px;
  font-family: Times New Roman;
  font-size: 50pt;
}

#playButton{
  position: absolute;
  left: 100px;
  top: 700px;
  width: 400px;
  height: 100px;
  background-image: url("https://raw.githubusercontent.com/NicksWorld/Nostalgia/master/images/loading_screen/Play_button.png");
}
