body{
  background-color: #FAF2B3;
}
#loadingTitle{
  position: absolute;
  left: 600px;
  top: 10px;
  font-size: 100pt;
  font-style: oblique;
}
#loadingAuthor{
  position: absolute;
  left: 600px;
  top: 200px;
  font-family: Times New Roman;
  font-size: 50pt;
}

#playButton{
  position: absolute;
  left: 100px;
  top: 600px;
  width: 400px;
  height: 100px;
}
#icon{
  position: absolute;
  left: 0;
  top: 0;
}

#githubIcon{
  position: absolute;
  right: 200px;
  top: 600px;
  width: 150px;
  height: 150px;
}
