body{
  background-color: #FAF2B3;
}
#loadingTitle{
  position: absolute;
  left: 600px;
  top: 10px;
  font-size: 100pt;
  font-style: oblique;
}
#loadingAuthor{
  position: absolute;
  left: 600px;
  top: 200px;
  font-family: Times New Roman;
  font-size: 50pt;
}

#playButton{
  position: absolute;
  left: 1500px;
  top: 700px;
  width: 200px;
  height: 50px;
  background-image: url("background: ../images/loading_screen/Play_button.png");
}
